{% extends 'base.html' %}

{% block title %}Eser{% endblock %}

{% block content %}

<div class="container text-center my-5">

<div class="viewer-wrapper">

<button class="viewer-arrow left" onclick="prevImage()">❮</button>

<img
id="viewerImage"
src="{{ url_for('static', filename='gallery/eserler/' ~ filename) }}"
class="viewer-img">

<button class="viewer-arrow right" onclick="nextImage()">❯</button>

</div>

</div>


<div class="container mb-5">

<div class="thumb-wrapper">

<button class="thumb-arrow" onclick="scrollThumb(-1)">‹</button>

<div id="thumbStrip" class="thumb-strip">

{% for img in images %}

<div
class="thumb-item {% if img == filename %}active-thumb{% endif %}"
onclick="openImage('{{ img }}')">

<img src="{{ url_for('static', filename='gallery/eserler/' ~ img) }}">

</div>

{% endfor %}

</div>

<button class="thumb-arrow" onclick="scrollThumb(1)">›</button>

</div>

</div>

{% endblock %}

{% block scripts %}

<script>

const images = [
{% for img in images %}
"{{ img }}",
{% endfor %}
];

let index = images.indexOf("{{ filename }}");

const viewer = document.getElementById("viewerImage");


function updateViewer(){

viewer.src = "/static/gallery/eserler/" + images[index];

document.querySelectorAll(".thumb-item").forEach((el,i)=>{

el.classList.remove("active-thumb");

if(i === index){

el.classList.add("active-thumb");

}

});

}


function nextImage(){

index++;

if(index >= images.length){

index = 0;

}

updateViewer();

}


function prevImage(){

index--;

if(index < 0){

index = images.length - 1;

}

updateViewer();

}


function openImage(name){

index = images.indexOf(name);

updateViewer();

}


document.addEventListener("keydown", function(e){

if(e.key === "ArrowRight") nextImage();

if(e.key === "ArrowLeft") prevImage();

if(e.key === "Escape") window.location = "/galeri";

});


function scrollThumb(dir){

document.getElementById("thumbStrip").scrollBy({

left: dir * 200,

behavior:"smooth"

});

}

</script>

{% endblock %}