{% extends 'base.html' %}

{% block title %}

{% if request.args.get('lang') == 'en' %}
References
{% else %}
Referanslar
{% endif %}

{% endblock %}

{% block content %}

<section class="container my-5">

<div class="section-title scroll-reveal">

<h2>

{% if request.args.get('lang') == 'en' %}
References
{% else %}
Referanslar
{% endif %}

</h2>

<div class="accent-line"></div>

</div>

<div class="row mt-5 referans-grid justify-content-center text-center">


<!-- LOGO 1 -->

<div class="col-lg-3 col-md-4 col-sm-6 mb-5 scroll-reveal">

<img
src="{{ url_for('static', filename='referanslar/595.png') }}"
class="img-fluid reference-logo">

</div>


<!-- LOGO 2 -->

<div class="col-lg-3 col-md-4 col-sm-6 mb-5 scroll-reveal">

<img
src="{{ url_for('static', filename='referanslar/155.png') }}"
class="img-fluid reference-logo">

</div>


<!-- LOGO 3 -->

<div class="col-lg-3 col-md-4 col-sm-6 mb-5 scroll-reveal">

<img
src="{{ url_for('static', filename='referanslar/156.png') }}"
class="img-fluid reference-logo">

</div>


<!-- LOGO 4 -->

<div class="col-lg-3 col-md-4 col-sm-6 mb-5 scroll-reveal">

<img
src="{{ url_for('static', filename='referanslar/166.png') }}"
class="img-fluid reference-logo">

</div>


</div>

</section>

{% endblock %}